/* main css */
.contact {
  background-color: var(--bg-white);
  min-height: 100vh;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.contact-info {
  color: var(--text-color);
}
.contact-info h2 {
  font-style: 28px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
.contact-sub-details {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
.contact-intro {
  margin-top: 30px;
}
.contact-inner {
  position: relative;
  margin-bottom: 20px;
}
.contact-inner i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 30px;
  padding: 3px;
  color: white;
  background-color: var(--main-color);
  border-radius: 5px;
}
.contact-inner p {
  margin-left: 50px;
  text-transform: capitalize;
  font-size: 16px;
}
.contact-inner p a {
  text-transform: lowercase;
  color: var(--main-color);
}
.contact-icons {
  margin-top: 30px;
}
.contact-icons a {
  color: var(--text-color);
}
.contact-icons i {
  font-size: 30px;
  background-color: var(--bg-light);
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  color: var(--text-color);
  transition: 0.3s;
}
.contact-icons i:hover {
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
  color: white;
}
.contact-inputs {
  padding: 0 50px;
}
.contact-inputs input,
textarea {
  border: none;
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 11px 26px;
  border-radius: 30px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: var(--input-bg);
  /* cursor: none; */
}
.contact-inputs input:focus {
  outline: none;
  border-color: var(--main-color);
}
.contact-inputs textarea:focus {
  outline: none;
  border-color: var(--main-color);
}
.input-text-mail {
  display: flex;
  justify-content: space-between;
}
.input-text-mail > * {
  width: 45%;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 600px;
  }
  .cmn-heading {
    padding: 40px 0;
  }
  .title {
    font-size: 40px;
  }
  .title-bg {
    font-size: 80px !important;
  }
  .navbar {
    position: fixed;
    top: 100%;
    right: 0;
    z-index: 999;
    transform: translateY(-100%);
  }
  .nav-unorder-list {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    padding-top: 7px;
    background-color: var(--bg-white);
    box-shadow: 0px 0px 10px var(--bg-light);
  }
  .nav-unorder-list h2 {
    width: 0;
  }
  .nav-unorder-list li {
    margin-bottom: 7px;
  }
  .contact {
    padding-bottom: 80px;
  }
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-info {
    margin-bottom: 30px;
  }
  .contact-inputs {
    padding: 0 10px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 350px;
  }
  .cmn-heading {
    padding: 40px 0;
    text-align: center;
  }
  .title {
    font-size: 32px;
  }
  .title-bg {
    font-size: 60px !important;
    letter-spacing: 5px !important;
  }
  .contact-inputs {
    padding: 0;
  }
  .contact-inputs input,
  textarea {
    width: 86%;
  }
  .input-text-mail {
    display: block;
  }
  .input-text-mail > * {
    width: 100%;
  }
}
